<!-- Navbar -->
<nav class="navbar navbar-light bg-light navcolor">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/63/Kennesaw_State_Owls_logo.svg"
        class="me-2"
        height="50"
        alt=""
        loading="lazy"
      />
      <small class="white">Anindita Deb</small>
    </a>
  </div>
</nav>

<!-- Card -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/professionalphoto.jpg" alt="Professional Photo" class="imgProf">
        </div>
        <div class="col-md-7">
          <h2 class="aboutMeFont">About Me</h2>
          <p class="descriptionFont">
            I'm currently a Computer Engineering Major at Kennesaw State University who will be graduating December 2024.
            I'm striving to become a Computer Vision Engineer with my interest in advanced embedded systems and machine learning!
          </p>
          <button type="button" class="btn btn-warning" (click)="displayResume()">View Resume</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Card -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Let's connect! :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <!-- Change links in href -->
      <a href="mailto:aninditadeb.010@gmail.com" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.linkedin.com/in/anindita-deb-01ad010101" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/dita-deb" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>
<!-- end of Footer -->